<div class="display-4">
    Your purchase of <strong>@ViewBag.Price -TL</strong>  has been completed successfully. Thank you for choosing us.
</div>
<p><a asp-action="Index" asp-controller="Home" class="btn btn-success">
    Go Back!!</a> </p>